
.card {
  padding: 0 0 1em 0;
  border-bottom: 1px solid black;
  width: 100%;
  display: flex;
}

.labels {
  display: flex;
  flex-direction: column;
}

.subtext {
  color: gray;
}

.active {
  background-color: #D3D3D3;
}

.active p {
  visibility: visible;
}

p {
  visibility: hidden;
}

.left {
  text-align: left;
  flex-direction: row;
  padding-left: 1em;
}

.right {
  text-align: right;
  flex-direction: row-reverse;
  padding-right: 1em;
}