<div class= "background">
  <div class="foreground">
    <div class="container">
      <header class="wrapper" direction="left" label="Account" key="num"></header>
      <header class="wrapper" direction="right" label="Balance" key="balance"></header>
    </div>
    <ul class="accts">
      <div *ngIf="loadService.loaded">
        <li *ngFor="let account of accounts">
          <account-detail class="wrapper" [account]="account"></account-detail>
        </li>
      </div>
      <div *ngIf="!loadService.loaded">
        <li *ngFor="let account of accounts | slice:0:3;">
          <account-detail class="wrapper" [account]="account"></account-detail>
        </li>
      </div>
    </ul>
    <div [ngClass]="{hide: loadService.loaded}">
      <load-button></load-button>
    </div>
  </div>
</div>
